<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/reset.css" rel="stylesheet"/>
    <link href="/global.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="header">
        <a href="/"><img src="/img/signiture.svg" /></a>
        <ul class="header__menu">
            <my-template if-not='@auth_user'>
                <li class="header__menu__item">
                    <a class="btn btn_contained btn_size_s" href="/login">로그인</a>
                </li>
                <li class="header__menu__item">
                    <a class="btn btn_ghost btn_size_s" href="/registration">
                        회원 가입
                    </a>
                </li>
            </my-template>
            <my-template if='@auth_user'>
                <li>{@auth_user.name} 님, 안녕하세요!</li>
                <li class="header__menu__item">
                    <form method="post" action="/auth/signout">
                        <button class="btn btn_ghost btn_size_s" type="submit">로그아웃</button>
                    </form>
                </li>
            </my-template>
        </ul>
    </header>
    <div class="page">
        <h2 class="page-title">로그인</h2>
        <div class="alert-danger" role="alert">아이디 또는 비밀번호가 틀립니다. 다시 로그인 해주세요.</div>
        <form class="form" method="post" action="/auth/signin">
            <div class="textfield textfield_size_s">
                <p class="title_textfield">아이디</p>
                <input
                        name="userId"
                        class="input_textfield"
                        placeholder="아이디를 입력해주세요"
                        autocomplete="username"
                />
            </div>
            <div class="textfield textfield_size_s">
                <p class="title_textfield">비밀번호</p>
                <input
                        name="password"
                        class="input_textfield"
                        type="password"
                        placeholder="비밀번호를 입력해주세요"
                        autocomplete="current-password"
                />
            </div>
            <button
                    id="login-btn"
                    class="btn btn_contained btn_size_m"
                    style="margin-top: 24px"
                    type="submit"
            >
                로그인
            </button>
        </form>
    </div>
</div>
</body>
</html>
